* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
}

header {
  background-color: yellow;
  padding: 20px;
}

header h1 {
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  text-align: center;
}

textarea {
  resize: none;
}

.note-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 12px;
}

.notes-container {
  word-wrap: break-word;
  width: 25%;
  padding: 10px 20px;
}

.note h2 {
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-container {
  padding-bottom: 30px;
}

.selected-container {
  float: right;
  width: 75%;
  word-wrap: break-word;
  padding: 0 20px;
  border-left: 1px solid black;
  height: calc(100vh - 37px);
}

.selected-container p {
  line-height: 2rem;
}
